body {
    margin: 0;
}

.top-container {
    background-image: url("https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
    background-size: cover;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-container h1 {
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
}

.text {
    margin: 50px 20%;
    font-size: 25px;
}

.navbar {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    transition: background-color 0.4s;
}

.navbar img {
    padding-left: 120px;
    padding-bottom: 15px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    padding-right: 120px;
}

.navbar ul li a {
    text-decoration: none;
    margin: 0 20px;
    color: black;
    font-size: 30px;
}

.navbar ul li a:hover {
    opacity: 0.5;
}

.active {
    background-color: black;
}

.active ul li a {
    color: white;
}